<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default("Regent's Design System") }}</title>
  <link rel="stylesheet" href="/dist/css/main.css">
  {% block head %}{% endblock %}
</head>
<body class="{{ bodyClass | default('') }}">
  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}
  <script type="module" src="/dist/js/main.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
