<footer class="footer">
  <div class="footer__inner">
    <div class="footer__column">
      <h4 class="footer__heading">Design System</h4>
      <a href="/foundation/colors.html" class="footer__link">Foundation</a>
      <a href="/components/buttons.html" class="footer__link">Components</a>
      <a href="/layouts/single-column.html" class="footer__link">Layouts</a>
      <a href="/templates/landing.html" class="footer__link">Templates</a>
    </div>
    <div class="footer__column">
      <h4 class="footer__heading">Foundation</h4>
      <a href="/foundation/colors.html" class="footer__link">Colors</a>
      <a href="/foundation/typography.html" class="footer__link">Typography</a>
      <a href="/foundation/spacing.html" class="footer__link">Spacing & Grid</a>
      <a href="/foundation/shadows.html" class="footer__link">Shadows</a>
    </div>
    <div class="footer__column">
      <h4 class="footer__heading">Components</h4>
      <a href="/components/buttons.html" class="footer__link">Buttons</a>
      <a href="/components/cards.html" class="footer__link">Cards</a>
      <a href="/components/forms.html" class="footer__link">Forms</a>
      <a href="/components/tabs.html" class="footer__link">Tabs</a>
    </div>
    <div class="footer__column">
      <h4 class="footer__heading">Resources</h4>
      <a href="https://github.com/aroop-axelerant/regents-design-fe" class="footer__link">GitHub</a>
    </div>
    <div class="footer__bottom">
      <p>&copy; {{ "" | year }} Regent's University London. Design System.</p>
    </div>
  </div>
</footer>
