---
layout: docs.njk
title: Blog Post Template
section: Templates
permalink: /templates/blog.html
---

<article class="section">
  <div class="container container--narrow">
    <span class="text-overline color-brand mb-16 d-block">News &amp; Events</span>
    <h1 class="text-display-s mb-16">This Is a Sample Blog Post Title</h1>
    <p class="text-subtitle mb-32">Published 15 March 2026 by Regent's Communications</p>
    <div class="stack stack--16">
      <p class="text-body-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      <blockquote class="text-quote-l color-brand" style="border-left: var(--border-m) solid var(--color-action-primary); padding-left: var(--sp-24);">
        "Education is the passport to the future."
      </blockquote>
      <p class="text-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</article>
